<template>
	<div class="number-ticker" v-observe-visibility="visibilityChanged">
		{{ leftValue }}{{ rightValue }}
	</div>
</template>

<script>
import { ref } from "vue";
import { ObserveVisibility } from "vue-observe-visibility";
export default {
	props: {
		leftNumber: {
			type: Number,
			required: true,
			validator(value) {
				return !isNaN(value);
			},
		},
		rightNumber: {
			type: Number,
			required: true,
			validator(value) {
				return !isNaN(value);
			},
		},
		duration: {
			type: Number,
			default: 1000,
		},
		startOnVisible: {
			type: Boolean,
			default: false,
		},
	},
	watch: {
		isVisible(isVisible) {
			if (this.startOnVisible) {
				if (isVisible) {
					this.start();
				} else {
					this.reset();
				}
			}
		},
	},
    directives: {
        ObserveVisibility
    },
	methods: {
		reset() {
			this.resetTimers();
			this.leftValue = 0;
			this.rightValue = 0;
		},
		start() {
			this.leftTimers.push(
				setInterval(() => {
					if (this.leftValue < this.leftNumber) {
						this.leftValue += 1;
					} else if (this.leftValue > this.leftNumber) {
						this.leftValue -= 1;
					}
				}, this.leftInterval)
			);
			this.rightTimers.push(
				setInterval(() => {
					if (this.rightValue < this.rightNumber) {
						this.rightValue += 1;
					} else if (this.rightValue > this.rightNumber) {
						this.rightValue -= 1;
					}
				}, this.rightInterval)
			);
		},
		resetTimers() {
			this.leftTimers.forEach((timer) => {
				clearInterval(timer);
			});
			this.rightTimers.forEach((timer) => {
				clearInterval(timer);
			});
			this.leftTimers = [];
			this.rightTimers = [];
		},
	},
	computed: {
		leftInterval() {
			return this.duration / (this.leftNumber + 1);
		},
		rightInterval() {
			return this.duration / (this.rightNumber + 1);
		},
	},
	setup(props) {
		let currentValue = ref(props.value);
		let leftValue = ref(0);
		let rightValue = ref(0);
		let leftTimers = ref([]);
		let rightTimers = ref([]);
		let isVisible = ref(false);

		const visibilityChanged = function (visible) {
			if (!visible) {
				isVisible.value = visible;
			} else {
				setTimeout(() => {
					isVisible.value = visible;
				}, 200);
			}
		};

		return {
			currentValue,
			leftValue,
			rightValue,
			leftTimers,
			rightTimers,
			isVisible,
			visibilityChanged,
		};
	},
};
</script>

<style lang='scss' scoped>
.number-ticker {
	display: inline-flex;
}
</style>