<template>
	<span class="demo">
		<CircleProgressView
			class="demo-circle"
			:value="50"
			:animate-on-visible="true"
			fill-color="#336B7D"
			empty-color="#CCCCCC"
			linecap="square"
			:border-width="20"
			:transition="400"
			:size="170"
			:border-bg-width="3"
			ref="cpv"
		/>
		<p>
			Component specific props: <br /><br />value (Number)
			<br />animate-on-visible (Boolean) - Animates to final value on
			becoming visible in the view port
		</p>
		<p>
			See https://www.npmjs.com/package/vue3-circle-progress for
			information on available props for the spinner itself.
		</p>
	</span>
</template>

<script>
import { ref } from "vue";
import CircleProgressView from "./components/CircleProgressView.vue";
export default {
	components: {
		CircleProgressView,
	},
	setup() {
		const cpv = ref(null);
		return {
			CircleProgressView,
			cpv,
		};
	},
};
</script>

<style lang='scss'>
#app {
	margin-top: 20px;
	margin-left: 15px;
	height: 2000px;

	.demo {
		font-weight: bold;
		font-family: sans-serif;
	}
}
</style>
