<template>
	<span class="demo">
		<HorizontalProgressView
			class="demo-bar"
			:value="50"
			:show-text="true"
			:duration="500"
			:animate-on-visible="true"
			bar-color="#ff0000"
			background-color="#f5f5f5"
			text-color="#ff0000"
			ref="cpv"
		/>
	</span>
</template>

<script>
import { ref } from "vue";
import HorizontalProgressView from "./components/HorizontalProgressView.vue";
export default {
	components: {
		HorizontalProgressView,
	},
	setup() {
		const cpv = ref(null);
		return {
			HorizontalProgressView,
			cpv,
		};
	},
};
</script>

<style lang='scss'>
#app {
	margin-top: 20px;
	margin-left: 15px;
	height: 2000px;

	.demo {
		font-weight: bold;
		font-family: sans-serif;
	}

	.demo-bar {
		max-width: 450px;
	}
}
</style>
