<template>
	<div :class="classes" v-observe-visibility="visibilityChanged">
		<CircleProgress :percent="progressValue" v-bind="$attrs" />
		<span class="percent-text">{{ value }}%</span>
	</div>
</template>

<script>
import { ref } from "vue";
import CircleProgress from "vue3-circle-progress";
export default {
	components: {
		CircleProgress,
	},
	data() {
		return {
			classes: ["circle-progress-view", this.className],
		};
	},
	computed: {
		progressValue() {
			if (this.animateOnVisible) {
				return this.isVisible ? this.value : 0;
			}
			return this.value;
		},
	},
	props: {
		value: {
			type: Number,
			default: 0,
		},
		className: {
			type: String,
			default: "",
		},
		animateOnVisible: {
			type: Boolean,
			default: false,
		},
		options: {
			type: Object,
			default: () => {
				return {
					scale: 2,
				};
			},
		},
	},
	setup() {
		let isVisible = ref(false);
		const visibilityChanged = function (visible) {
			isVisible.value = visible;
		};
		return { isVisible, visibilityChanged };
	},
};
</script>
<style lang='scss' scoped>
.circle-progress-view {
	position: relative;
	.vue3-circular-progressbar {
		margin: auto;
	}
	.percent-text {
		font-family: sans-serif;
		color: #336b7d;
		font-size: 48px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
</style>
