<template>
	<span class="demo">
		<TwoFigureTicker
			ref="tft"
			class="ticker"
			:leftNumber="numLeft"
			:rightNumber="numRight"
			:duration="animDuration"
			:startOnVisible="false"
		/>
		<br />
		<button @click="tft.start()">Start</button>
		<button @click="tft.reset()">Reset</button>
		<br />
		<div style="display: inline-block">
			<p>Left Number ({{ numLeft }})</p>
			<button @click="numLeft += 1">+</button>
			<button @click="numLeft > 0 ? (numLeft -= 1) : ''">-</button>
		</div>
		<div style="display: inline-block; margin-left: 2rem">
			<p>Right Number ({{ numRight }})</p>
			<button @click="numRight += 1">+</button>
			<button @click="numRight > 0 ? (numRight -= 1) : ''">-</button>
		</div>
		<div style="display: block">
			<p>Animation Duration (ms) ({{ animDuration }})</p>
			<button @click="animDuration += 500">+</button>
			<button @click="animDuration > 0 ? (animDuration -= 500) : ''">
				-
			</button>
		</div>
		<p>
			Set 'startOnVisible' prop to true to have the animation begin
			automatically when the component comes into view on screen.
		</p>
	</span>
</template>

<script>
import { ref } from "vue";
import TwoFigureTicker from "./components/TwoFigureTicker.vue";
export default {
	// eslint-disable-next-line no-unused-vars
	components: {
		TwoFigureTicker,
	},
	setup() {
		const tft = ref(null);
		let numLeft = ref(5);
		let numRight = ref(3);
		let animDuration = ref(1000);
		return {
			TwoFigureTicker,
			numLeft,
			numRight,
			animDuration,
			tft,
		};
	},
};
</script>

<style lang='scss'>
#app {
	margin-top: 20px;
	margin-left: 15px;
	.demo {
		font-weight: bold;
		font-family: sans-serif;
	}

	.ticker {
		font-size: 40px;
		margin-bottom: 1rem;
		color: #42b983;
	}

	button {
		margin-right: 0.5rem;
	}
	p {
		font-size: 16px;
	}
}
</style>
