<template>
	<span class="demo">
		<ParallaxVideoBanner
			class="demo-banner"
			src="/video/dancers.mp4"
			:options="{
				scale: 2,
				orientation: 'down',
			}"
			ref="pvb"
		/>
	</span>
</template>

<script>
import { ref } from "vue";
import ParallaxVideoBanner from "./components/ParallaxVideoBanner.vue";
export default {
	components: {
		ParallaxVideoBanner,
	},
	setup() {
		const pvb = ref(null);
		let numLeft = ref(5);
		let numRight = ref(3);
		let animDuration = ref(1000);
		return {
			ParallaxVideoBanner,
			numLeft,
			numRight,
			animDuration,
			pvb,
		};
	},
};
</script>

<style lang='scss'>
#app {
	margin-top: 20px;
	margin-left: 15px;
	height: 2000px;

	.demo {
		font-weight: bold;
		font-family: sans-serif;
	}

	.demo-banner {
		height: 500px;
		margin-top: 50%;
		transform: translateY(-100%);
	}
}
</style>
