<template>
	<div :class="bannerClasses">
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper">
					<video
						width="100%"
						class="bg"
						autoplay
						muted
						loop
						v-sparallax="options"
					>
						<source :src="src" type="video/mp4" />
						Your browser does not support the video tag.
					</video>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import {} from "vue";

import simpleParallaxDirective from "./simpleParallaxDirective";

export default {
	directives: {
		sparallax: simpleParallaxDirective,
	},
	data() {
		return {
			bannerClasses: ["parallax-banner", this.className],
		};
	},
	props: {
		src: {
			type: String,
			default: "",
		},
		className: {
			type: String,
			default: "",
		},
		options: {
			type: Object,
			default: () => {
				return {
					scale: 2,
				};
			},
		},
	},
	setup() {
		return {};
	},
};
</script>
<style lang='scss' scoped>
.parallax-banner {
	overflow: hidden;
	.container,
	.container-fluid,
	.row,
	.col-md-12,
	.video {
		height: inherit;
	}
	.bg {
		width: 100%;
	}
}
</style>
