<template>
	<div
		:class="{ 'horizontal-progress-view': true, shown: isVisible }"
		:style="{
			'background-color': backgroundColor,
		}"
		v-observe-visibility="visibilityChanged"
	>
		<div
			class="progress-bar"
			:style="{
				width: progressValue + '%',
				'background-color': barColor,
				'transition-duration': animDuration + 's',
			}"
		>
			<div
				class="percent-text"
				:style="{ color: textColor }"
				v-if="showText"
			>
				{{ value + "%" }}
			</div>
		</div>
	</div>
</template>

<script>
import { ref } from "vue";
export default {
	data() {
		return {};
	},
	props: {
		value: {
			required: true,
			type: Number,
			default: 1,
		},
        animate: {
            required: true,
            type: Boolean,
            default: true,
        },
		animateOnVisible: {
			required: false,
			type: Boolean,
			default: true,
		},
		barColor: {
			required: true,
			type: String,
			default: "#000000",
		},
		backgroundColor: {
			required: false,
			type: String,
			default: "#f5f5f5",
		},
		textColor: {
			required: false,
			type: String,
			default: "#000000",
		},
		showText: {
			required: false,
			type: Boolean,
			default: true,
		},
		duration: {
			required: false,
			type: Number,
			default: 500,
		},
	},
	computed: {
		progressValue() {
            return this.isVisible ? this.percentValue : 0;
        },
        animDuration() {
            if (this.animateOnVisible || this.animate) {
                return Math.max(0.1, this.durationValue / 1000);
            }
            return 0;
        },
	},
	watch: {
        value(newValue) {
            this.percentValue = newValue;
        },
		isVisible(isVisible) {
			this.durationValue = isVisible ? this.duration : 0;
			this.percentValue = isVisible ? this.value : 0;
		},
	},
	methods: {},
	setup(props) {
		let durationValue = ref(props.duration);
		let percentValue = ref(props.value);
		let isVisible = ref(false);
		const visibilityChanged = function (visible) {
			isVisible.value = visible;
		};
		return {
			visibilityChanged,
			isVisible,
			percentValue,
			durationValue,
		};
	},
};
</script>
<style lang='scss' scoped>
.horizontal-progress-view {
	position: relative;
	background: #ffffff;
	height: 40px;

	.progress-bar {
		height: inherit;
		width: 0%;
		transition-duration: 0s;
		z-index: 0;
		display: flex;
		align-items: center;
	}

	.percent-text {
		z-index: 1;
		position: absolute;
		right: 1.5rem;
		font-family: sans-serif;
		font-size: 24px;
	}

	&.shown {
		.progress-bar {
			transition: width ease-out;
		}
	}
}
</style>